
body {
    background-color: #000000;
    height: auto;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    padding: 0px;
}
#headFont {
    font-family: 'Spartan';
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 24px;
    color: white;
}
.skyFont {
    font-weight: 600;
    color: #44bbff;
}
.ui.large.menu {
    background-color: #071422bc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}
.ui.two.column.grid {
    margin: 40px;
}
.articleCard {
    height: 200px;
}
.artDesc {
    padding-top: 12px;
}
#earth_div {
    min-height: 12rem;
    background: 
        linear-gradient(0deg,
        rgba(0, 0, 0, 0.82), 
        rgba(0, 0, 0, 0.82)), 
        url();
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: scroll;
    /* Inset shadow */
    -webkit-box-shadow: inset 0px 0px 69px 63px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 69px 63px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 69px 63px rgba(0,0,0,1);
}
/* Image reacting to mouse location */
#mainBlock {
    margin-top: 64px;
    /* Mouse moving image */
    --x: 0px;
    --y: 0px;
    background-image: url(milky-way-and-starry-night-sky.jpg);
    background-position: var(--x) var(--y);
    background-size: contain;
}