
body {
    background-color: #000000;
    min-height: 110%;
}
#floatBlock {
    display: block;
    background-color: #ffffff0c;
    z-index: 3;
    margin-top: 40px;
    border-radius: 4px;
    width: auto;
    height: auto;
}
.ui.search .prompt {
    background-color: rgba(0, 0, 0, 0.247);
    border-color: rgb(255, 255, 255);
}

.ui.search .prompt:focus {
    background-color: rgba(0, 0, 0, 0.45);
    border-color: white;
}
.ui.icon.input>input {
    background-color: #1b1b1b;
    color: white;
    font-family: "Spartan";
    padding-top: 15px;
}
#spacer {
    height: 80px;
}
#coronaVD {
    font-weight: 500;
}
#caseToll,
#deathToll {
    color: #44bbff;
    font-weight: 500;
}
#footerStat {
    font-family: "Spartan";
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-left: 24px;
    padding-top: 14px;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    padding: 0px;
}
#headFont {
    font-family: 'Spartan';
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 24px;
    color: white;
}
.skyFont {
    font-weight: 600;
    color: #44bbff;
}
.ui.large.menu {
    background-color: #1b1b1b;
    height: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    border-top: 1px solid rgba(255, 255, 255, 0.185);  
}
.ui.button:hover{
    background-color: red;
    font-family: "Spartan"
}

.ui.large.botton.menu {
    height: 64px;
    padding: 8px;
    background-color:blue;
}
#artHeader {
    font-family: "Spartan";
    font-weight: 300;
    font-size: 2.5rem;
    color: #e2f4ff;
    padding-bottom: 14px;
    padding-top: 36px;
}

/* Card styling */
h3 {
    font-family: "Spartan";
    font-size: 24px;
    font-weight: 500;
    color: #e0e0e0;
    padding-top: 10px;
}
.ui.fluid.card.articleCard {
    background-color: #ffffff0c;
    border: none;
}
.ui.fluid.card.articleCard:hover {
    background-color: #0c243df3;
    transition: .3s ease-in;
    transition: .15s ease-out;
    color: white;
}
.artDate,
.artDesc {
    padding-top: 12px;
    padding-bottom: 4px;
    font-family: "Spartan";
    color: #f6f6f6;
    font-weight: 300;
    font-size: 14px;
}
.artBy,
.artAuthor {
    padding-top: 12px;
    font-family: "Spartan";
    color: rgb(164, 164, 164);
    font-weight: 300;
    font-size: 14px;
}
.image {
    margin: 10px;
    height: 50%;
    width: auto;
    border-radius: 4px;
}
.we-pp-content {
    color:black;
}
#earth_div {
    opacity: 85%;
    min-height: 12rem;
    background: 
        linear-gradient(0deg,
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)), 
        url();
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: scroll;
}
/* Image reacting to mouse location */
#mainBlock {
    margin-top: 64px;
    /* Mouse moving image */
    --x: 0px;
    --y: 0px;
    background-image: url(milky-way-and-starry-night-sky.jpg);
    background-position: var(--x) var(--y);
    background-size: 100%;
    /* Inset shadow */
    -webkit-box-shadow: inset 0px 0px 100px 40px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 100px 40px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 100px 40px rgba(0,0,0,1);
    
}


@media only screen and (max-width: 768px) {
    #artBlock {
        margin: 3.2rem;
    }
    #artHeader {
        font-size: 1.8rem;
        padding-top: 24px;
    }
    #footerStat {
        font-size: 14px;
    }
}